.custom-form{
    width: 100%; 
    margin: auto;
}
@media only screen and (min-width: 701px) {
    .custom-form{
        width: 80%; 
    }
}
@media only screen and (min-width: 1024px) {
    .custom-form{
        width: 60%; 
    }
}

aside .custom-form{
    width: 70%;
    margin: auto;
    }
    
.page-sidebar .custom-form input[type=email],
.page-sidebar .custom-form input[type=password],
.page-sidebar .custom-form input[type=text]{
    display: block;
    border: none;
    border-bottom: 1px solid #800080;
}

.content .custom-form .span{
    padding-top: 4px;
}
.content .custom-form .email{
    width: 10px;
}
.form-group{
    overflow: hidden;
    position: relative;
    padding-top: 25px;
    margin-bottom: 15px;
}
    .form-group span{
        width: 20px;
        height: 20px;
        line-height: 6px; 
        
    }

    .form-group input{
        width: 100%;
        outline: none;
    }

    .form-group span:hover{
        color: #e74c3c
    }

    .form-group input + .span{
        height: 20px;
        /*width: calc(100% - 20px);*/
        position: absolute;
        left: 0px;
        z-index: 2;
        top: 40px;
        transition:0.20s ease-out;
    }

    .form-group button{
        margin: 0px 0 30px;
       }
       .form-group input{
        padding: 15px 0 15px 0;
        font-size: 15px;
        position: relative;
        z-index: 3;
        background: transparent;
    }
    
    .login-form-section .custom-form a{
        font-size: 15px;
        text-decoration: none;
        color:#000;
    }
    .content .custom-form input[type=email],
    .content .custom-form input[type=password],
    .content .custom-form input[type=text]{
        display: block;
        border: none;
        width: 100%; 
        border-bottom: 1px solid #800080;
    }

    .content .custom-form span{
    width: 80px;
    }
 
    .custom-form input[type=email]:focus{
        border-bottom: 1px solid #e74c3c; 
    }
    .custom-form input[type=password]:focus{
        border-bottom: 1px solid #e74c3c; 
    }
    .custom-form input[type=text]:focus{
        border-bottom: 1px solid #e74c3c; 
    }
    input:focus + .span{
    top: 0;
    }
input:focus + .span,
input.focus + .span{
        top: 0;
}
    